// 主题色
$--brand-LIGHT: #33d7d3; // 亮蓝绿色
$--brand-DARK: #1ba4a1; // 暗蓝绿色

// 背景色
$--bg-WHITE: #fff; // 白色
$--bg-GREY: #f5f5f5; // 灰色
$--bg-BLACK: #333; // 黑色

// 文本色
$--text-WHITE: #fff; // 白色
$--text-GREY: #b6b6b6; // 灰色

// 线框色
$--border-GREY: #ccc; // 灰色

/* ========================================================== */

@font-face {
    font-family: "pop";
    src: url("https://cdn.jsdelivr.net/gh/Fanvins030/KarRoyIDCardWebpage/static/fonts/pop.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "w9";
    src: url("https://cdn.jsdelivr.net/gh/Fanvins030/KarRoyIDCardWebpage/static/fonts/w9.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.w9 {
    position: absolute;
    font-family: "w9";
}

.pop {
    position: absolute;
    font-family: "pop";
}

canvas {
    letter-spacing: 5px;
    font-family: "w9,pop,Microsoft YaHei";
    position: absolute;
}

/* ========================================================== */

body {
    background-color: $--brand-LIGHT;
    cursor: default;

    .welcome {
        height: 90vh;
        color: $--text-WHITE;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header {
        overflow: hidden;

        .title {
            height: 70px;
            line-height: 70px;
            color: $--text-WHITE;
            font-size: 24px;
            text-align: center;
            font-family: w9;
            text-shadow: 5px 5px 5px $--brand-DARK;
        }

        .thanking {
            padding-top: 30px;
            margin: 0 auto;
            text-align: center;
            color: $--text-WHITE;
        }
    }

    .main {
        margin: 30px auto 100px;

        .card {
            border-radius: 5px;

            box-sizing: border-box;
            box-shadow: 0 24px 48px 0 rgba($color: $--brand-DARK, $alpha: 0.8);
            background-color: $--bg-WHITE;

            .left {
                width: 100%;
                box-sizing: border-box;

                .caption {
                    font-size: 14px;
                    color: $--brand-DARK;
                    font-family: w9;
                }

                .input-wrap {
                    margin: 20px 0;
                    line-height: 30px;
                    background-color: $--bg-GREY;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    position: relative;

                    &:hover {
                        border: 1px solid $--border-GREY;
                    }

                    input.address {
                        width: 100%;
                        height: 100%;
                        line-height: 20px;
                        outline: none;
                        padding: 6px 12px;
                        box-sizing: border-box;
                        border: none;
                        background-color: transparent;
                        color: $--bg-BLACK;
                        font-size: 12px;
                        display: inline-block;
                    }

                    .clean {
                        color: $--text-GREY;
                        font-size: 18px;
                        position: absolute;
                        right: 10px;
                        top: 0;
                        cursor: pointer;
                    }
                }

                .btn_select,
                .btn_save {
                    font-family: w9;
                    line-height: 20px;
                    padding: 5px;
                    margin-bottom: 10px;
                    text-align: center;
                    border: 1px solid transparent;
                    border-radius: 5px;

                    &.disable {
                        background-color: rgba($color: $--bg-BLACK, $alpha: 0.3);
                        color: $--text-WHITE;
                        cursor: not-allowed;
                    }

                    &:not(.disable) {
                        background-color: rgba($color: $--brand-DARK, $alpha: 0.8);
                        color: $--text-WHITE;
                        cursor: pointer;
                    }
                    &.pc:not(.disable) {
                        background-color: $--brand-DARK;
                    }
                }
            }

            .right {
                width: 100%;
                box-sizing: border-box;
            }
        }
    }

    .footer {
        margin: 0 auto;
        text-align: center;
        color: rgba($color: $--text-WHITE, $alpha: 0.8);
        padding: 25px 0;
        border-top: 1px solid rgba($color: $--brand-DARK, $alpha: 0.4);
    }
}

// 电脑
@media (min-width: 960px) {
    .main {
        width: 500px;
    }
    .main .card {
        width: 500px;
        padding: 50px;
    }
}

// 平板
@media (min-width: 600px) and (max-width: 960px) {
    .main {
        width: 80vw;
    }
    .main .card {
        width: 500px;
        margin: 0 auto;
        padding: 50px;
    }
}

// 手机
@media (max-width: 600px) {
    .main {
        width: 90vw;
    }
    .main .card {
        width: 90vw;
        padding: 35px;
    }
}
