// 主题色
$--brand-LIGHT: #33d7d3; // 亮蓝绿色
$--brand-DARK: #1ba4a1; // 暗蓝绿色

// 背景色
$--bg-WHITE: #fff; // 白色
$--bg-GREY: #f5f5f5; // 灰色
$--bg-BLACK: #333; // 黑色

// 文本色
$--text-WHITE: #fff; // 白色
$--text-GREY: #b6b6b6; // 灰色
$--text-WARMING: red; //红色
$--text-LINK: blue; //红色

// 线框色
$--border-GREY: #ccc; // 灰色

/* ========================================================== */

@font-face {
    font-family: "pop";
    src: url("https://cdn.jsdelivr.net/gh/Fanvins030/KarRoyIDCardWebpage/static/fonts/pop.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "w9";
    src: url("https://cdn.jsdelivr.net/gh/Fanvins030/KarRoyIDCardWebpage/static/fonts/w9.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.w9 {
    position: absolute;
    font-family: "w9";
}

.pop {
    position: absolute;
    font-family: "pop";
}

canvas {
    letter-spacing: 5px;
    font-family: "w9,pop,Microsoft YaHei";
    position: absolute;
}

/* ========================================================== */

body {
    background-color: $--brand-LIGHT;
    cursor: default;
    -webkit-tap-highlight-color: transparent;

    .welcome {
        height: 95vh;
        color: $--text-WHITE;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header {
        overflow: hidden;

        .title {
            height: 70px;
            line-height: 70px;
            color: $--text-WHITE;
            font-size: 24px;
            text-align: center;
            font-family: w9;
            text-shadow: 5px 5px 5px $--brand-DARK;
        }

        .thanking {
            padding-top: 10px;
            margin: 0 auto;
            text-align: center;
            color: $--text-WHITE;
        }
    }

    .main {
        margin: 50px auto 80px;
        position: relative;

        .tab {
            display: flex;
            justify-content: flex-start;
            position: absolute;
            top: -25px;
            left: 0;

            span {
                height: 25px;
                line-height: 25px;
                padding: 0 15px;
                background-color: rgba($color: $--brand-DARK, $alpha: 0.8);
                color: $--text-WHITE;
                font-family: w9;
                text-align: center;
                border-right: 1px solid $--brand-DARK;
                border-radius: 5px 5px 0 0;
                cursor: pointer;

                & + span {
                    border-left: none;
                }

                &.active {
                    background-color: $--bg-WHITE;
                    color: $--brand-DARK;
                }
            }
        }

        .card {
            border-radius: 0 5px 5px 5px;
            box-sizing: border-box;
            box-shadow: 0 24px 48px 0 rgba($color: $--brand-DARK, $alpha: 0.8);
            background-color: $--bg-WHITE;

            &:not(.active) {
                display: none;
            }

            &.product {
                .controller {
                    .input-wrap {
                        margin: 20px 0;
                    }
                }
            }

            &.register {
                .controller {
                    .topic {
                        position: relative;

                        &:nth-of-type(1) .question {
                            margin-top: 0;
                        }

                        .question {
                            margin: 20px 0 10px 0;
                            position: relative;

                            &.require::before {
                                content: "*";
                                margin-right: 3px;
                                color: $--text-WARMING;
                                position: absolute;
                                top: 2px;
                                left: -10px;
                            }

                            .i {
                                display: inline-block;
                                width: 8px;
                                height: 8px;
                                line-height: 8px;
                                text-align: center;
                                padding: 2px;
                                border: 1px solid $--text-WARMING;
                                border-radius: 50%;
                                color: $--text-WARMING;
                                cursor: pointer;

                                & + .example {
                                    display: none;
                                    padding: 10px;
                                    background-color: $--bg-WHITE;
                                    color: $--text-WARMING;
                                    position: absolute;
                                    left: -10px;
                                    z-index: 10;
                                }

                                &:hover + .example {
                                    display: block;
                                }
                            }
                        }

                        .answer {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            .option {
                                margin-right: 10px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                &:last-of-type {
                                    margin-right: 0;
                                }

                                > input {
                                    display: none;

                                    & + label .label-wrap {
                                        border: 1px solid $--border-GREY;
                                        color: $--text-GREY;
                                        border-radius: 5px;
                                        padding: 5px 10px;
                                        cursor: pointer;
                                    }

                                    &:checked + label .label-wrap {
                                        border: 1px solid $--brand-DARK;
                                        color: $--brand-DARK;
                                    }
                                }
                            }

                            .file-wrap {
                                input {
                                    display: none;
                                }

                                label {
                                    .label-wrap {
                                        width: 50px;
                                        height: 50px;
                                        border: 1px dashed $--border-GREY;
                                        position: relative;
                                        cursor: pointer;

                                        &::before {
                                            content: "";
                                            width: 30px;
                                            border-top: 1px solid $--border-GREY;
                                            position: absolute;
                                            top: 25px;
                                            left: 10px;
                                        }

                                        &::after {
                                            content: "";
                                            height: 30px;
                                            border-left: 1px solid $--border-GREY;
                                            position: absolute;
                                            top: 10px;
                                            left: 25px;
                                        }
                                    }
                                }
                            }

                            .add {
                                width: 15px;
                                height: 14px;
                                text-align: center;
                                margin-left: 10px;
                                padding: 2px;
                                background-color: $--brand-DARK;
                                color: $--text-WHITE;
                                border-radius: 50%;
                                position: relative;
                                cursor: pointer;

                                &::before {
                                    content: "";
                                    display: block;
                                    width: 10px;
                                    border-top: 2px solid $--text-WHITE;
                                    position: absolute;
                                    top: 8px;
                                    left: 4px;
                                }

                                &::after {
                                    content: "";
                                    display: block;
                                    height: 10px;
                                    border-left: 2px solid $--text-WHITE;
                                    position: absolute;
                                    top: 4px;
                                    left: 8px;
                                }
                            }
                        }
                    }

                    .btn_submit {
                        margin-top: 20px;
                    }
                }
            }

            &.message {
                .controller {
                    .input-wrap {
                        margin: 20px 0;

                        textarea {
                            width: -webkit-fill-available;
                            height: 50px;
                            padding: 6px 32px 6px 12px;
                            box-sizing: border-box;
                            outline: none;
                            resize: none;
                            border: none;
                            background-color: transparent;
                            overflow-y: hidden;
                            font-size: 12px;
                            font-family: auto;
                        }
                    }
                }
            }

            .controller {
                width: 100%;
                box-sizing: border-box;

                .caption {
                    font-size: 14px;
                    color: $--brand-DARK;
                    font-family: w9;
                }

                .input-wrap {
                    width: 100%;
                    line-height: 30px;
                    background-color: $--bg-GREY;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    position: relative;

                    &:hover {
                        border: 1px solid $--border-GREY;
                    }

                    input {
                        width: 100%;
                        height: 100%;
                        line-height: 20px;
                        outline: none;
                        padding: 6px 12px;
                        box-sizing: border-box;
                        border: none;
                        background-color: transparent;
                        color: $--bg-BLACK;
                        font-size: 12px;
                        display: inline-block;
                    }

                    .clean {
                        color: $--text-GREY;
                        font-size: 18px;
                        position: absolute;
                        right: 10px;
                        top: 0;
                        cursor: pointer;
                    }
                }

                .button {
                    font-family: w9;
                    line-height: 20px;
                    padding: 5px;
                    text-align: center;
                    border: 1px solid transparent;
                    border-radius: 5px;

                    &.disable {
                        background-color: rgba($color: $--bg-BLACK, $alpha: 0.3);
                        color: $--text-WHITE;
                        cursor: not-allowed;
                    }

                    &:not(.disable) {
                        background-color: rgba($color: $--brand-DARK, $alpha: 0.8);
                        color: $--text-WHITE;
                        cursor: pointer;
                    }
                    &.pc:not(.disable) {
                        background-color: $--brand-DARK;
                    }
                }
            }

            .displayer {
                width: 100%;
                box-sizing: border-box;
            }

            .tip {
                .attention {
                    .text {
                        color: $--text-WARMING;
                    }

                    .link {
                        color: $--text-LINK;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .footer {
        margin: 0 auto;
        text-align: center;
        color: $--text-WHITE;
        padding: 25px 0;
        background: linear-gradient(180deg, rgba($color: $--bg-BLACK, $alpha: 0.1) -100%, transparent 50%);
    }
}

// 电脑
@media (min-width: 960px) {
    .main {
        width: 500px;
    }
    .main .card {
        width: 500px;
        padding: 50px;
    }
}

// 平板
@media (min-width: 600px) and (max-width: 960px) {
    .main {
        width: 80vw;
    }
    .main .card {
        width: 500px;
        margin: 0 auto;
        padding: 50px;
    }
}

// 手机
@media (max-width: 600px) {
    .main {
        width: 90vw;
    }
    .main .card {
        width: 90vw;
        padding: 35px;
    }
}
