/* ========================================================== */
@font-face {
  font-family: "pop";
  src: url("https://cdn.jsdelivr.net/gh/Fanvins030/KarRoyIDCardWebpage/static/fonts/pop.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "w9";
  src: url("https://cdn.jsdelivr.net/gh/Fanvins030/KarRoyIDCardWebpage/static/fonts/w9.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.w9 {
  position: absolute;
  font-family: "w9";
}

.pop {
  position: absolute;
  font-family: "pop";
}

.hidden {
  display: none;
}

canvas {
  letter-spacing: 5px;
  font-family: "w9,pop";
  position: absolute;
}

/* ========================================================== */
body {
  width: 95vw;
  margin: 0 auto;
  background-color: #33d7d3;
}

body .header {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

body .header .title {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-family: w9;
  text-shadow: 5px 5px 5px #1ba4a1;
}

body .main {
  margin: 30px auto 120px;
}

body .main .thanking {
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

body .main .container {
  box-sizing: border-box;
  box-shadow: 0 24px 48px 0 rgba(27, 164, 161, 0.8);
  background-color: #fff;
}

body .main .container .left {
  box-sizing: border-box;
}

body .main .container .left .caption {
  font-size: 17px;
  font-weight: bold;
}

body .main .container .left .input-wrap {
  margin: 20px 0;
  line-height: 30px;
  background-color: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 5px;
}

body .main .container .left .input-wrap:hover {
  border: 1px solid #ccc;
}

body .main .container .left .input-wrap input {
  width: 100%;
  height: 100%;
  line-height: 20px;
  outline: none;
  padding: 6px 12px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 13px;
  display: inline-block;
}

body .main .container .left .btn_select,
body .main .container .left .btn_save {
  line-height: 20px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgba(27, 164, 161, 0.8);
  text-align: center;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

body .main .container .left .btn_select:hover,
body .main .container .left .btn_save:hover {
  background-color: #1ba4a1;
}

body .main .container .right {
  box-sizing: border-box;
}

body .footer {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

@media (min-width: 960px) {
  .main {
    width: 500px;
    min-height: 100px;
  }
  .main .container {
    width: 500px;
    padding: 50px;
    border-radius: 5px;
  }
  .main .container .left {
    width: 100%;
  }
  .main .container .right {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .main {
    width: 80vw;
    min-height: 100px;
  }
  .main .container {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
  }
  .main .container .left {
    width: 100%;
    margin: 0 auto 20px;
  }
  .main .container .right {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .main {
    width: 90vw;
    min-height: 100px;
  }
  .main .container {
    width: 90vw;
    padding: 35px;
    border-radius: 5px;
  }
  .main .container .left {
    width: 100%;
  }
  .main .container .right {
    width: 100%;
  }
}
